html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Black */
/* Gray */
/* White */
::-moz-selection {
  color: #fafafa;
  background: #ff9800; }

::selection {
  color: #fafafa;
  background: #ff9800; }

body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  body::after {
    clear: both;
    content: "";
    display: table; }
  body .l-sidebar {
    float: left;
    display: block;
    width: 25.58941%;
    position: fixed;
    left: 0;
    height: 100%;
    background: #424242;
    color: #eee; }
    body .l-sidebar:last-child {
      width: 23.23176%; }
    body .l-sidebar .logo {
      color: #ffa726; }
    body .l-sidebar .l-settings {
      position: absolute;
      bottom: 0;
      width: 100%; }
      body .l-sidebar .l-settings ul {
        width: 100%;
        margin: 0 auto;
        text-align: center; }
        body .l-sidebar .l-settings ul li {
          list-style: none;
          display: inline-block;
          font-size: 1.4em;
          color: #eee; }
          body .l-sidebar .l-settings ul li:not(:last-child)::after {
            content: "|";
            color: #eee;
            margin: 0 10px; }
  body .l-content {
    float: left;
    display: block;
    width: 76.76824%;
    position: absolute;
    right: 0;
    min-height: 100%;
    background-color: #bdbdbd; }
    body .l-content:last-child {
      width: 74.41059%; }
    body .l-content .gs-musicsearch {
      width: 100%;
      padding: 2%;
      background-color: #e0e0e0; }
      body .l-content .gs-musicsearch input[type="text"] {
        width: 94%; }
      body .l-content .gs-musicsearch input[type="submit"] {
        width: 5%; }
    body .l-content .gs-results li {
      list-style: none; }
      body .l-content .gs-results li a {
        float: left;
        display: block;
        margin-right: 3.16844%;
        width: 100%;
        padding: 20px 30px;
        margin-bottom: 5px;
        background: #fafafa; }
        body .l-content .gs-results li a:last-child {
          margin-right: 0; }
        body .l-content .gs-results li a:hover {
          background: #eee; }
  body footer {
    background-color: #9e9e9e;
    position: fixed;
    bottom: 0;
    width: 100%; }
    body footer .l-playercontainer {
      margin: 0 auto;
      position: relative; }
      body footer .l-playercontainer .l-aside {
        max-width: 68em;
        margin-left: auto;
        margin-right: auto; }
        body footer .l-playercontainer .l-aside::after {
          clear: both;
          content: "";
          display: table; }
        body footer .l-playercontainer .l-aside .l-cover {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          body footer .l-playercontainer .l-aside .l-cover:last-child {
            margin-right: 0; }
          body footer .l-playercontainer .l-aside .l-cover .img-cover {
            background-size: cover;
            margin: 0 auto; }
        body footer .l-playercontainer .l-aside .l-playercontrols {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          text-align: center;
          display: inline-block;
          margin: 0; }
          body footer .l-playercontainer .l-aside .l-playercontrols:last-child {
            margin-right: 0; }
          body footer .l-playercontainer .l-aside .l-playercontrols li {
            display: inline;
            font-size: 35px; }
      body footer .l-playercontainer .l-bside {
        position: relative; }
        body footer .l-playercontainer .l-bside .gs-currentsong {
          position: absolute;
          text-align: center;
          width: 100%; }
        body footer .l-playercontainer .l-bside .l-playerprogress .progress-outer {
          margin-top: 50%;
          width: 80%;
          height: 10px;
          margin: 0 auto;
          background-color: #bdbdbd; }
          body footer .l-playercontainer .l-bside .l-playerprogress .progress-outer .progress-inner {
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            transition: all 0.8s;
            height: 10px;
            background-color: #424242;
            width: 0%; }
  body .ex-playlist {
    display: none; }

h1.logo {
  font-family: 'Courgette', cursive;
  text-align: center;
  display: block;
  line-height: 75px;
  height: 100px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
