@import "bourbon/bourbon";
@import "neat/neat";
@import "variables.scss";

$height-header: 10vh;
$height-content: 80vh;
$height-footer: 10vh;

body {
  header {
    height: $height-header;
  }
  
  .l-content {
    height: $height-content;
  }

  header, .l-content, footer {
    @include outer-container;
    .l-aside { @include span-columns(4); }
    .l-bside { @include span-columns(8); }
  }

  footer {
    height: $height-footer;
    .l-aside {
      @include outer-container;

      .l-cover {
        @include span-columns(6);
        .img-cover {
          height: $height-footer;
          width: $height-footer;
          background-size: cover;
          margin: 0 auto;
        }
      }

      .l-playercontrols {
        @include span-columns(6);
        text-align: center;
        display: inline-block;

        li {
          display: inline;
          font-size: 35px;
        }
      }
    }
  }

  .l-container, .l-content {
    margin: 0 auto;
    width: 100%;
  }

  .ex-playlist {
    display: none;
  }

}