@import "bourbon/bourbon";
@import "neat/neat";
@import "variables.scss";

$height-header: 100px;
$height-content: auto;
$height-footer: 100px;

 /* Code for Firefox */
::-moz-selection {
    color: $white;
    background: $brand;
}

::selection {
    color: $white;
    background: $brand;
}

body {
  header {
    height: $height-header;
  }
  
  .l-content {
    height: $height-content;
    padding-bottom: $height-footer;
    .gs-playlist {
      .gs-playlistall {
        display: none;
      }
      .ex-playlist {
        display: block;
      }
    }
  }

  header, .l-content, .l-playercontainer {
    @include outer-container;
    .l-aside { @include span-columns(4); }
    .l-bside { @include span-columns(8); }
  }

  footer {
    background-color: $gray;
    position: fixed;
    bottom: 0;
    height: $height-footer;
    width: 100%;
    .l-playercontainer {
      margin: 0 auto;
      position: relative;
      .l-aside {
        @include outer-container;
        .l-cover {
          @include span-columns(6);
          .img-cover {
            height: $height-footer;
            width: $height-footer;
            background-size: cover;
            margin: 0 auto;
          }
        }
        .l-playercontrols {
          @include span-columns(6);
          text-align: center;
          display: inline-block;
          margin: 0;
          li {
            display: inline;
            font-size: 35px;
            line-height: $height-footer;
          }
        }
      }
      .l-bside {
        height: $height-footer;
        position: relative;
        .gs-currentsong {
          position: absolute;
          text-align: center;
          width: 100%;
        }

        .l-playerprogress {
          margin-top: ($height-footer / 2) - 5px;
          margin-bottom: ($height-footer / 2) - 5px;
        
          .progress-outer {
            margin-top: 50%;
            width: 80%;
            height: 10px;
            margin: 0 auto;
            background-color: $gray-light;
            .progress-inner {
              @include transition( all 0.8s );
              height: 10px;
              background-color: $black-light;
              width: 0%;
            }
          }
        }
      }
    }
  }

  .l-playercontainer, .l-container, .l-content {
    margin: 0 auto;
    width: 100%;
  }

  .ex-playlist {
    display: none;
  }
}