// Groofr color palette
$brand: #ff9800;
$brand-dark: #f57c00;
$brand-light: #ffa726;
/* Black */
$black: #101010;
$black-light: #303030;
/* Gray */
$gray: #777;
$gray-dark: #444;
$gray-light: #9f9f9f;
/* White */
$white: #FFF;
$white-dark: #ECF0F1;
$white-darker: #B3B3B3;
