// Groofr color palette
$brand: #ff9800;
$brand-dark: #f57c00;
$brand-light: #ffa726;
/* Black */
$black: #101010;
$black-light: #303030;
/* Gray */
$gray: #777;
$gray-dark: #444;
$gray-light: #9f9f9f;
/* White */
$white: #f0f0f0;
$white-dark: #c0c0c0
